@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #060404;
  --foreground: #ededed;
  --primary: #AA9568;
  --alert: #FE1302;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.writing-vertical-lr {
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: 0.2em;
  /* Improve readability */
}